@font-face {
    font-family: NotoSansKR-Black;
    src: url(./source/NotoSansKR-Black.ttf) format(truetype);
}
@font-face {
    font-family: NotoSansKR-Regular;
    src: url(./source/NotoSansKR-Regular.ttf) format(truetype);
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    width: 850px;
    display: flex;
    flex-direction: column;
}
@media (max-width:850px) {
    #header{
        width: 100%;
    }
}
#container1{
    margin-top: 3rem;
    width: 760px;
    display: flex;
    flex-direction: column;
}
#maintitle{
    margin: 3%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
#copy1{
    margin-left: 2%;
    width: 70%;
    font-family: Arial, sans-serif;   
    font-size: 2.4rem; 
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#copy2{
    margin-right: 4%;
    width: 30%;
    font-family: Arial, sans-serif;   
    font-size: 1.8rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody1{
    margin-bottom: 1rem;
    background-image: url(./source/canvastage4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
#copy3{
    padding-left: 7%;
    width: 68%;
    height: 550px;
    font-size: 1.6rem;
    line-height: 2.5rem;
}
#mainbody2, #mainbody3{
    padding: 7%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}
#copy4{
    padding: 7%;
    padding-right: 12%;
    padding-top: 2.2rem;
    width: 35%;
    font-family: Arial, sans-serif;   
    font-size: 4.5rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copy7{
    padding: 7%;
    padding-left: 12%;
    padding-top: 2.2rem;
    width: 35%;
    font-family: Arial, sans-serif;   
    font-size: 4.5rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copy5, #copy6{
    width: 50%;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: left;
}
#mainbody4{
    margin: 7%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
#mainbody9{
    margin-top: 0;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
}
#link1, #link2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
#mainbody5{
    padding: 7%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}
#copy8{
    width: 18%;
    font-family: Arial, sans-serif;   
    font-size: 2.2rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#source1{
    width: 81%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody6{
    padding: 7%;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#copy12{
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.4rem;
    padding: 1%;
    width: 22%;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copy9, #copy10, #copy11, #copy13{
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.4rem;
    padding: 1%;
    width: 22%;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainbody7{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    letter-spacing: -0.03rem;
    text-align: center;
    font-family: NotoSansKR-Black;
}
#container2{
    padding-top: 1rem;
    padding-bottom: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}
#mainvody8, #mainvody10{
    margin: 1%;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-style: italic;
    color: black;
    letter-spacing: -0.03rem;
    font-family: NotoSansKR-Regular;
    text-align: center;
}
@media (max-width:780px) {
    #container1{
        margin-top: 1.5rem;
        width: 90%;
    }  
    #maintitle{
        margin: 2%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        border-radius: 13px;
    }      
    #copy1{
        margin-left: 3%;
        font-size: 2.1rem; 
    }
    #copy2{
        margin-right: 3%;
        font-size: 1.4rem; 
    }
    #mainbody1{
        margin-bottom: 0;
        background-position: center;
    }    
    #copy3{
        padding-left: 8%;
        padding-right: 8%;
        width: 84%;
        height: 360px;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    #mainbody2{
        padding: 8%;
        padding-bottom: 2.5rem;
        padding-top: 0;
        flex-direction: column;
    }
    #mainbody3{
        padding: 8%;
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column-reverse;
    }
    #copy4, #copy7{
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1rem;
        width: 100%;
        font-size: 2.8rem;
    } 
    #copy5, #copy6{
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    } 
    #mainbody4{
        margin: 8%;
        margin-bottom: 2rem;
    }   
    #mainbody9{
        margin-bottom: 4.5rem;
    }   
    #link1, #link2{
        font-size: 1.2rem;
    }    
    #mainbody5{
        padding: 10%;
        padding-bottom: 0;
        padding-top: 0;
    }
    #copy8{
        width: 35%;
        font-size: 1.6rem;
        justify-content: center;
    }
    #source1{
        width: 65%;
    }
    #mainbody6{
        padding-top: 0.5rem;
        padding-left: 8%;
    }
    #copy9, #copy10, #copy11, #copy13{
        margin-bottom: 0.2rem;  
        width: 30%;
        font-size: 0.88rem;
        border-radius: 8px;
    }
    #copy12{
        margin-bottom: 0.2rem;   
        width: 30%;
        font-size: 0.78rem;
        border-radius: 8px;
    }
    #mainbody7{
        margin: 8%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    #container2{
        flex-direction: column;
    }    
    #mainvody8, #mainvody10{
        margin: 0;
        font-size: 1.6rem;
    }
    
}