@font-face {
    font-family: NotoSansKR-Black;
    src: url(./source/NotoSansKR-Black.ttf) format(truetype);
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    width: 850px;
    display: flex;
    flex-direction: column;
}
@media (max-width:850px) {
    #header{
        width: 100%;
    }
}
#container{
    margin: 3%;
    margin-top: 3%;
    width: 760px;
    display: flex;
    flex-direction: column;
}
#maintitle{
    padding: 1.5%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
}
#copy1{
    margin-left: 5%;
    width: 70%;
    font-family: Arial, sans-serif;   
    font-size: 2.4rem; 
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#copy2{
    margin-right: 5%;
    width: 30%;
    font-family: Arial, sans-serif;   
    font-size: 1.8rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody1{
    margin-bottom: 3%;
    background-image: url(./source/canvastage4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
#copy3{
    padding-left: 6%;
    width: 72%;
    height: 550px;
    font-size: 1.7rem;
    line-height: 2.6rem;
}
#mainbody2, #mainbody3, #mainbody5{
    padding: 4%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}
#copy4, #copy7{
    padding: 7%;
    width: 40%;
    font-family: Arial, sans-serif;   
    font-size: 4.5rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copy5, #copy6{
    width: 55%;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: left;
}
#mainbody4, #mainbody9{
    padding: 3%;
    padding-bottom: 6%;
    display: flex;
    justify-content: center;
}
#link1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
#copy8{
    width: 18%;
    font-family: Arial, sans-serif;   
    font-size: 2.4rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#source1{
    width: 81%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody6{
    padding: 3.5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#copy9, #copy10, #copy11, #copy12, #copy13{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 0.6%;
    margin-left: 0.6%;
    margin-bottom: 1%;
    width: 21.6%;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainbody7{
    padding-top: 8%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    font-style: italic;
    color: black;
    letter-spacing: -0.03rem;
    text-align: center;
    font-family: NotoSansKR-Black;
    line-height: 3rem;
}
#mainvody8{
    padding: 8%;    
    padding-top: 0;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    font-style: italic;
    color: black;
    letter-spacing: -0.03rem;
}
@media (max-width:780px) {
    #container{
        width: 88%;
    }    
    #copy1{
        font-size: 2.1rem; 
    }
    #copy2{
        font-size: 1.4rem; 
    }
    #mainbody1{
        background-position: center;
    }    
    #copy3{
        padding-left: 6%;
        width: 88%;
        height: 360px;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    #mainbody2{
        padding: 6%;
        padding-bottom: 8%;
        padding-top: 0;
        flex-direction: column;
    }
    #mainbody3{
        padding: 6%;
        padding-top: 0;
        padding-bottom: 4%;
        flex-direction: column-reverse;
    }
    #mainbody4{
        padding-bottom: 12%;
        padding-top: 0;
    }
    #mainbody5{
        padding: 6%;
        padding-bottom: 0;
        padding-top: 0;
    }
    #mainbody6{
        padding: 4%;
        padding-top: 0;
    }
    #copy4, #copy7{
        padding: 0;
        padding-bottom: 3%;
        width: 100%;
        font-size: 2.8rem;
    } 
    #copy5, #copy6{
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }        
    #link1{
        font-size: 1.1rem;
    }    
    #copy8{
        width: 30%;
        font-size: 1.8rem;
        justify-content: center;
    }
    #source1{
        width: 68%;
    }
    #copy9, #copy10, #copy11, #copy13{
        width: 30%;
        font-size: 0.9rem;
        border-radius: 9px;
    }
    #copy12{
        width: 30%;
        font-size: 0.8rem;
        border-radius: 9px;
    }
    #mainbody7{
        padding-top: 13%;
        padding-bottom: 4%;
        font-size: 2.4rem;
    }
    #mainvody8{
        padding-bottom: 13%;
        padding-top: 0;
        font-size: 1.9rem;
    }
}